body {
    background-color: #f8f8f8;
}

.header_item {
    font-family: "Courier 10 Pitch", monospace;
    font-style: normal;
    font-size: 20px;
    list-style-type: none;
}

.header_link {
    color : sienna;
}