* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.not_bottom {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__heading {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 2px;
    color: #1F3F68;
    margin-top: 107px;
    margin-bottom: 32px;
    width: 504px;
}

.top__container {
    display: flex;
    flex-direction: column;
    min-height: 768px;
}

.top__content {
    background-image: url(img/top_back.svg);
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text_width {
    width: 425px;
}

.text_project {
    text-align: center;
    color: #222;
    width: 75%;
    margin: 32px auto 64px;
    opacity: 1;
}

.button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
}

.button:hover {
    background: #406d96;
}

.button:active {
    background: #375e82;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.what-we-do {
    padding-top: 64px;
    padding-bottom: 64px;
}

.what-we-do__content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

.item {
    padding: 44px 32px;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__heading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    margin-top: 51px;
}

.item__learn_more {
    margin-top: 29px;
    display: inline-flex;
}

.item__learn_more:hover {
    text-decoration: underline;
}

.item__learn_more__text {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    display: inline-block;
}

.item__learn_more__arrow {
    margin-left: 20px;
}

.project__item {
    border-radius: 10px;
    position: relative;
    margin-bottom: 32px;
}

.project__box {
    display: flex;
    justify-content: space-between;
}

.project__item:hover, .project__text_mini:hover {
    opacity: 0.8;
}

.project__item_mini {
    width: 49%;
}

.project__img {
    width: 100%;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    right: 64px;
    top: 64px;
}

.project__text_mini {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    left: 32px;
    top: 32px;
}

.bottom {
    margin-top: 80px;
    background: #316099;
}

.bottom__are_you_interested {
    display: flex;
    justify-content: space-between;
}

.bottom__are_you_interested__text {
    margin-top: 91px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.bottom__are_you_interested__text__heading {
    width: 70%;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: white;
}

.bottom__are_you_interested__text__body {
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: white;
    opacity: 0.6;
}

.bottom__are_you_interested__button_lets_talk {
    margin-top: 165px;
    width: 236px;
    height: 56px;
    background-color: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__contacts {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footer__contacts__item {
    display: flex;
    width: 33.3%;
    margin-left: 32px;
}

.footer__contacts__item:first-child {
    margin-left: 0;
}

.footer__contacts__item__name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__contacts__item__text {
    margin-left: 19px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__copyright {
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width: 1023px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__container {
        min-height: 768px;
    }

    .top__content {
        background-position: right 292px;
    }

    .what-we-do__content {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin-bottom: 32px;
    }

    .bottom__are_you_interested__text {
        margin: 47px 51px 64px 92px;
    }

    .bottom__are_you_interested__text__heading {
        width: 100%;
    }

    .bottom__are_you_interested__button_lets_talk {
        margin-right: 101px;
        width: 205px;
        height: 31px;
    }

    .footer {
        padding-left: 101px;
    }

    .footer__contacts {
        flex-direction: column;
    }

    .footer__contacts__item {
        margin-bottom: 25px;
        margin-right: 100px;
        width: 100%;
        margin-left: unset;
    }

    .footer__contacts__item__name {
        width: 20px;
    }

    .footer__contacts__item__text {
        margin-left: 36px;
    }

    .footer__copyright {
        padding-top: 39px;
    }
}

@media (max-width: 767px) {
    .top {
        min-height: 376px;
    }

    .top__container {
        min-height: 100%;
    }

    .top__content {
        background-image: none;
        padding-bottom: 40px;
        text-align: center;
    }

    .header {
        padding-top: 15px;
    }

    .top__heading {
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        width: unset;
        margin-top: 28px;
    }

    .text_width {
        width: unset;
        text-align: center;
    }

    .button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 12px;
        margin: 32px auto 0;
        display: inline-block;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 32px;
    }

    .what-we-do__content {
        padding-top: 32px;
    }

    .text_project {
        width: unset;
    }

    .project__box {
        flex-wrap: wrap;
    }

    .project__item {
        margin-bottom: 16px;
    }

    .project__item_mini {
        width: unset;
    }

    .project__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        top: 16px;
        right: 16px;
    }

    .project__text_mini {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        top: 16px;
        left: 16px;
    }
}